
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light">
           
    <!-- Navbar brand -->
    <logo><a class="navbar-brand" routerLink="/"><img src="assets/images/OOH.png" height="30" alt="{{title}}"></a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" mdbRippleRadius routerLink="/media-types">Media Types</a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

