<footer class="container border-top py-3 pb-5">
    <a class="logo-font" routerLink="/">OOH</a>
    <span>
      <i class="fa fa-copyright"></i> {{ today | date: 'yyyy' }}.
    </span>
    <span class="pull-right">
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
      <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
      <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>
    </span>
  </footer>